.carousel-inner {
  position: relative;
  width: 100%;
  height: 500px; /* İstediğiniz yüksekliği buraya girin */
}

.carousel-item img {
  width: 100%;
  height: 100%; /* Tüm img öğeleri için yükseklik ayarlama */
  object-fit: cover; /* Fotoğrafın kapsama oranını korur */
}