
<div class="container mt-5" style="padding-top: 2%;">
    <div class="row d-flex align-items-stretch">
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="assets/img/card1.png" alt="image" style="width: 100%; height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h4 class="card-title">Light/Dark Mode</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="assets/img/card2.png" alt="image" style="width: 100%; height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h4 class="card-title">Figma Files Included</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="assets/img/card3.png" alt="image" style="width: 100%; height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h4 class="card-title">50+UI Flexible Components</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="assets/img/card4.png" alt="image" style="width: 100%; height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h4 class="card-title">Free Lifetime Updates</h4>
                </div>
            </div>
        </div>
    </div>
</div>