
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Landing Pages</h1>
      <p>Choose from pre-built layoust of our unique landing pages</p>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-3 card-container">
          <img src="assets/img/mobile-app-showcase-v1.jpg" alt="Image 1">
          <div class="card-text">
              <h2>Mobile App Showcase v.1</h2>
          </div>
      </div>
      <div class="col-md-3 card-container">
          <img src="assets/img/mobile-app-showcase-v2.jpg" alt="Image 2">
          <div class="card-text">
              <h2>Mobile App Showcase v.2</h2>
          </div>
      </div>
      <div class="col-md-3 card-container">
          <img src="assets/img/mobile-app-showcase-v3.jpg" alt="Image 3">
          <div class="card-text">
              <h2>Mobile App Showcase v.3</h2>
          </div>
      </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-3 card-container">
          <img src="assets/img/product-landing.jpg" alt="Image 1">
          <div class="card-text">
              <h2>Product Landing</h2>
          </div>
      </div>
      <div class="col-md-3 card-container">
          <img src="assets/img/saas-v1.jpg" alt="Image 2">
          <div class="card-text">
              <h2>SaaS v.1</h2>
          </div>
      </div>
      <div class="col-md-3 card-container">
          <img src="assets/img/saas-v2.jpg" alt="Image 3">
          <div class="card-text">
              <h2>SaaS v.2</h2>
          </div>
      </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>More Silicon Features</h1>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-3">
       
              <h4> <i class="bi bi-bootstrap-fill icon-heading-size"></i>
                Built with Bootstrap 5</h4>
          <p>Silicon is the powerful front-end solution based on Bootstrap 5 — the world’s most popular responsive, mobile-first front-end component library.</p>
      </div>
      <div class="col-md-3">
                <h4>
                  <i class="bi bi-file-earmark icon-heading-size"></i>
                  Detailed Documentation</h4>
    <p>Download package includes the documentation that covers all crucial information about how to get started, customize template and components usage.</p>
</div>
<div class="col-md-3">
    <h4>  <i class="bi bi-phone icon-heading-size"></i>
      Mobile Freindly Interface</h4>
<p>It's not a surprise that nowadays over 80% of users surf the inernet using their mobile devices. Silicon is 100% responsive and optimized for small touch screens.</p>
</div>
<div class="col-md-3">
    <h4>  <i class="bi bi-fingerprint icon-heading-size"></i>
      Touch-Enabled Sliders</h4>
<p>In the era of touch screens it's important to ensure great user experience on mobile, especially when it comes to such frequently used interface component as slider.</p>
</div>
  </div>
</div>
<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-3">
       
              <h4> <i class="bi bi-apple icon-heading-size"></i>
                W3C Valid HTML Code</h4>
          <p>All HTML files are checked via W3C validator to ensure 100% valid code. As you probably know invalid HTML limits innovation, but Silicon is innovative at its core.</p>
      </div>
      <div class="col-md-3">
                <h4>
                  <i class="bi bi-filetype-js icon-heading-size"></i>
                  Kick-Start Your Development</h4>
    <p>Start your development process fast and easy with Node.js and Gulp setup. Configuration files are included in download package. Full tasks automation.</p>
</div>
<div class="col-md-3">
    <h4>  <i class="bi bi-filetype-sass icon-heading-size"></i>
      Easy to Customize with Sass</h4>
<p>Silicon is built using Sass. Easily change colors, typography and much more. It is the most mature, stable, and powerful CSS extension language in the world.</p>
</div>
<div class="col-md-3">
    <h4>  <i class="bi bi-filetype-json icon-heading-size"></i>
      Future Proof Java-Script</h4>
<p>Silicon core scripts as well as all dependencies are written in vanilla JS. And now with Bootstrap 5 we finally drop jQuery and use ES6 modules.</p>
</div>
  </div>
</div>


<hr>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-success" (click)="open(content)">
        Open modal
      </button>
      
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Merhaba Emir Abi</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          Modal body..
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
        </div>
      </ng-template>
      <h1>Subscribe to Our Newsletter</h1>
    </div>
  </div>
</div>

<div class="container mt-5 form-container">
  <div class="row form-row">
      <div class="col-md-12">
          <form>
              <div class="row">
                <div class="col-md-8 col-12 mb-2 mb-md-0">
                  <div class="input-icon">
                      <i class="bi bi-envelope"></i>
                      <input type="text" class="form-control" placeholder="Your email" name="email">
                  </div>
              </div>
                  <div class="col-md-4 col-12">
                      <button type="button" class="btn btn-primary w-100">Subscribe*</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <p>*Enjoy using Silicon Template and stay tuned for the latest updates and news.</p>
    </div>
  </div>
</div>
<footer class="footer text-center">
  <p class="text-secondary">© All rights reserved. Made with <span class="heart">❤️</span> by <a href="#">Alaattin Çobanoğlu</a></p>
</footer>
  <script>
    $(document).ready(function() {
        $('.nav-item.dropdown').hover(function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(200);
        }, function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(200);
        });
    });
</script>