<div class="container mt-5">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Landing Pages</h1>
        <p>Choose from pre-built layoust of our unique landing pages</p>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-3 card-container">
            <img src="assets/img/mobile-app-showcase-v1.jpg" alt="Image 1">
            <div class="card-text">
                <h2>Mobile App Showcase v.1</h2>
            </div>
        </div>
        <div class="col-md-3 card-container">
            <img src="assets/img/mobile-app-showcase-v2.jpg" alt="Image 2">
            <div class="card-text">
                <h2>Mobile App Showcase v.2</h2>
            </div>
        </div>
        <div class="col-md-3 card-container">
            <img src="assets/img/mobile-app-showcase-v3.jpg" alt="Image 3">
            <div class="card-text">
                <h2>Mobile App Showcase v.3</h2>
            </div>
        </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-3 card-container">
            <img src="assets/img/product-landing.jpg" alt="Image 1">
            <div class="card-text">
                <h2>Product Landing</h2>
            </div>
        </div>
        <div class="col-md-3 card-container">
            <img src="assets/img/saas-v1.jpg" alt="Image 2">
            <div class="card-text">
                <h2>SaaS v.1</h2>
            </div>
        </div>
        <div class="col-md-3 card-container">
            <img src="assets/img/saas-v2.jpg" alt="Image 3">
            <div class="card-text">
                <h2>SaaS v.2</h2>
            </div>
        </div>
    </div>
  </div>