

<div>
  <label for="email" class="form-label">Email:</label>
  <input id="email" type="email" [(ngModel)]="email" placeholder="Email" class="form-control">
</div>

<div>
  <label for="password" class="form-label">Password:</label>
  <input id="password" type="password" [(ngModel)]="password" placeholder="Password" class="form-control">
</div>

<div>
  <label for="firstName" class="form-label">First Name:</label>
  <input id="firstName" type="text" [(ngModel)]="firstName" placeholder="First Name" class="form-control">
</div>

<div>
  <label for="lastName" class="form-label">Last Name:</label>
  <input id="lastName" type="text" [(ngModel)]="lastName" placeholder="Last Name" class="form-control">
</div>

<div>
  <label for="phoneNumber" class="form-label">Phone Number:</label>
  <input id="phoneNumber" type="text" [(ngModel)]="phoneNumber" placeholder="Phone Number" class="form-control">
</div>

<div>
  <label for="roles" class="form-label">Roles:</label>
  <select id="roles" multiple [(ngModel)]="selectedRoles" class="form-control">
    <option *ngFor="let role of availableRoles" [value]="role._id">{{ role.role_name }}</option>
  </select>
</div> 

<button class="action_has has_saved" style="margin-left: 48.5%;" aria-label="save" (click)="createUser()">
  <svg
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    stroke-linejoin="round"
    stroke-linecap="round"
    stroke-width="2"
    viewBox="0 0 24 24"
    stroke="currentColor"
    fill="none"
  >
    <path
      d="m19,21H5c-1.1,0-2-.9-2-2V5c0-1.1.9-2,2-2h11l5,5v11c0,1.1-.9,2-2,2Z"
      stroke-linejoin="round"
      stroke-linecap="round"
      data-path="box"
    ></path>
    <path
      d="M7 3L7 8L15 8"
      stroke-linejoin="round"
      stroke-linecap="round"
      data-path="line-top"
    ></path>
    <path
      d="M17 20L17 13L7 13L7 20"
      stroke-linejoin="round"
      stroke-linecap="round"
      data-path="line-bottom"
    ></path>
  </svg>
</button>

