

<div>
  <label for="email" class="form-label">Email:</label>
  <input id="email" type="email" [(ngModel)]="email" placeholder="Email" class="form-control">
</div>

<div>
  <label for="password" class="form-label">Password:</label>
  <input id="password" type="password" [(ngModel)]="password" placeholder="Password" class="form-control">
</div>

<div>
  <label for="firstName" class="form-label">First Name:</label>
  <input id="firstName" type="text" [(ngModel)]="firstName" placeholder="First Name" class="form-control">
</div>

<div>
  <label for="lastName" class="form-label">Last Name:</label>
  <input id="lastName" type="text" [(ngModel)]="lastName" placeholder="Last Name" class="form-control">
</div>

<div>
  <label for="phoneNumber" class="form-label">Phone Number:</label>
  <input id="phoneNumber" type="text" [(ngModel)]="phoneNumber" placeholder="Phone Number" class="form-control">
</div>

<div>
  <label for="roles" class="form-label">Roles:</label>
  <select id="roles" multiple [(ngModel)]="roles" class="form-control">
    <option *ngFor="let role of roles" [value]="role._id">{{ role.role_name }}</option>
  </select>
</div>

<button (click)="createUser()" class="btn btn-success">Create User</button>
