<img src="assets/img/logo.png" class="mx-auto d-block">
<div class="container mt-3">
    <form>
      <div class="mb-3 mt-3">
        <label for="username">Username:</label>
        <input type="username" class="form-control" id="username" placeholder="Username" name="username">
      </div>
      <div class="mb-3">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  