<img src="assets/img/logo.png" class="mx-auto d-block">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-4">
        <h2 class="text-center">Login</h2>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email" />

          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password" />

          </div>
          <div>
            <input type="checkbox" id="rememberMe" formControlName="rememberMe">
            <label for="rememberMe">Remember Me</label>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
        </form>
      </div>
    </div>
  </div>
  <!-- <div class="container pt-3"> <div class="row"> 
    <div class="col-md-4"></div><div class="col-md-4">
      <p>If you don’t have an account:</p>
  <button data-bs-toggle="collapse" data-bs-target="#demo" class="btn btn-success">Register</button>

<div id="demo" class="collapse">
  <form *ngIf="registerForm" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
    <div>
      <label for="register-email" class="form-label">Email:</label>
      <input id="register-email" formControlName="email" autocomplete="email" class="form-control">
    </div>
    <div>
      <label for="register-password" class="form-label">Password:</label>
      <input id="register-password" type="password" formControlName="password" autocomplete="new-password" class="form-control">
    </div>
    <div>
      <label for="first-name" class="form-label">Name:</label>
      <input id="first-name" formControlName="first_name" class="form-control">
    </div>
    <div>
      <label for="last-name" class="form-label">Surname:</label>
      <input id="last-name" formControlName="last_name" class="form-control">
    </div>
    <div>
      <label for="phone-number" class="form-label">Phone Number:</label>
      <input id="phone-number" formControlName="phone_number" class="form-control">
    </div>
    <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary mt-3">Register</button>
  </form>
</div></div></div></div><div class="col-md-4"></div>-->