<div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">

    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a href="#" class="nav-link active py-3 border-bottom" aria-current="page" title="Home"ata-bs-original-title="Home">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link  py-3 border-bottom" aria-current="page" title="Home"ata-bs-original-title="Home">
          Dash
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link  py-3 border-bottom" aria-current="page" title="Home"ata-bs-original-title="Home">
          Tooltip
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link  py-3 border-bottom" aria-current="page" title="Home"ata-bs-original-title="Home">
        Prod        </a>
      </li>

    </ul>

      <a href="#" class="d-flex align-items-center justify-content-center p-3 " id="dropdownUser3">
        <img src="assets/img/logo.png" alt="mdo" width="24" height="24" class="rounded-circle">
      </a>

    </div>
