<button data-bs-toggle="collapse" data-bs-target="#demo" class="d-flex justify-self-center btn btn-dark">Collapsible</button>
<div id="demo" class="collapse">
<div class="container">
    <div class="row">
      <div *ngFor="let user of users" class="col-md-2 mb-4">
        <div class="card">
          <img [src]="user.avatar" class="card-img-top" alt="Avatar">
          <div class="card-body">
            <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
            <p class="card-text">{{ user.email }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div *ngFor="let a of unknown" class="col-md-2 mb-4">
        <div class="card" [ngStyle]="{'background-color': a.color}">
          <div class="card-body">
            <h5 class="card-title">{{ a.name }} {{ a.year }}</h5>
            <p class="card-text">{{ a.pantone_value }}</p>
          </div>
        </div>
      </div>
    </div>
  </div></div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>email</th>
        <th>name</th>
        <th>avatar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.first_name}} {{ user.last_name }}</td>
        <td><img [src]="user.avatar" alt="Avatar" width="50"></td>
      </tr>
    </tbody>
  </table>
  
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="changePage(currentPage - 1)"><</a>
      </li>
      <li class="page-item" *ngFor="let page of pages">
        <a class="page-link" (click)="changePage(page)">{{ page }}</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="changePage(currentPage + 1)">></a>
      </li>
    </ul>
  </nav>
